* {
	margin:0;
	padding:0;}
img {
	border:none;}
a {
	text-decoration:none;}
	
	
body {
	background-image:url(images/bg-body.jpg);
	font:13px Arial;
	color:#969696;
	line-height:1.3;}
h1, h2, h3, h4, h5, h6 {
	color:#2E2C2D;
	}
	
	
.main {
	max-width:1300px;
	margin:0 auto;}	
	header {
		padding:30px 30px 80px 0;
		overflow:hidden;
		position:relative;}
		.logo {
			float:left;
			margin:25px 45px 0 0;}
			header h1 {
				float:left;
				font:15px "Myriad Pro";
				color:#939393;
				margin:35px 0 0 0;
				}
			header p {
				float:right;
				overflow:hidden;}
				header p a {
					float:left;
					padding-left:10px;}
	.content-wrapper{
		background:#fff;}
		.menu {
			background:url(images/bg-menu.jpg);
			margin-bottom:30px;}
			.menu ul {
				overflow:hidden;
				padding:30px;
				list-style-type:none;
				font:bold 14px "Trebuchet MS";}
				.menu ul li {
					float:left;
					margin-right:10px;
					}
					.menu ul li a {
						text-decoration:none;
						color:#413F40;
						padding:5px 20px;
						display:block;
						border:1px solid #e9e8e4;}
							.menu ul li a:hover {
								text-decoration:underline;}
					.menu ul li.active a {
						background-color:#F45300;
						color:#fff;
						border-radius:5px;
						border:1px solid #c84502;}
		 .content-main {
			 padding:0 30px;
			 }
			 .slogan-main {
				 overflow:hidden;
				 margin-bottom:30px;}
				 .slogan {
					 float:left;
					 width:33%;}
					 .slogan div {
						 padding-right:30px;}
						 .slogan h2 {
							 font:13px "Trebuchet MS";
							 overflow:hidden;
							 margin-bottom:20px;
							 }
							 .slogan h2 img {
								 float:left;
								 margin-right:25px;}
		.main-img {
			margin-bottom:30px;}
			.main-img img {
				width:100%;}
		.services-main {
			overflow:hidden;
			margin-bottom:30px;}
			.services {
				float:left;
				width:25%;}
				.services div {
					margin-right:30px;}
					.services h2 {
						font:13px "Trebuchet MS";
						margin-bottom:20px;}
					.services p {
						margin-bottom:20px;}
		.advertising-main {
			background:url(images/bg-reclama.jpg) repeat;
			padding:30px 20px;
			margin-bottom:30px;
			overflow:hidden;}
			.advertising-main h2 {
				font:18px "Trebuchet MS";
				color:#706d6a;
				float:left; 
				width:62%;
				line-height:1.8;}
			.advertising-main a {
				width:38%;
				float:right;}
				.advertising-main a img {
					display:block;
					margin:0 auto;
					}
		.comment-news-main {
			overflow:hidden;
			}
			.comment-main {
				float:left;
				width:66%;}
				.comment-news-main h2 {
					font-size:14px;
					margin-bottom:20px;}
					.comment {
						float:left;
						width:43%;
						margin-right:7%;}
						.comment-head {
							overflow:hidden;
							margin-bottom:20px;}
							.comment-head img {
								float:left;
								margin-right:30px;}
							.comment-head h3 {
								font-size:13px;
								padding-bottom:10px;}
							.comment-head p {
								font-size:10px;
								color:#f55909;}
				
			.news-main {
				float:right;
				width:34%;}
				.news {
					overflow:hidden;
					margin-bottom:20px;}
					.news img {
						float:left;
						margin-right:15px;}
					.news h3 {
						font-size:13px;}
						.news h3 a {
							color:#343233;
							margin-bottom:5px;}
							.news h3 a:hover {
								text-decoration:underline;}
						.news p {
							color:#adadad;
							font-size:12px;
							line-height:1.5;}
							.news p span {
								font-size:10px;
								color:#f55909;
								display:block;}
							
			.footer-main {
				overflow:hidden;
				background-color:#4a4744;
				padding:35px 30px;
				font:12px Arial;
				color:#848484;
				line-height:1.7;}
				.footer-main a {
					color:#fff;}
					.footer-main a:hover {
						text-decoration:underline;}
				.footer-main h3 {
					color:#FFFFFF;
					font-size:13px;
					margin-bottom:15px;}
					.footer-left {
						float:left;
						width:60%;
						margin-right:6%;}
					.footer-right {
						float:right;
						width:34%;
						}
						.footer-right ul {
							list-style-type:none;}
							.footer-right ul li {
								margin-bottom:3px;}
				.footer-copy {
					overflow:hidden;
					background:url(images/bg-footer.jpg) repeat;
					padding:20px 30px;}
					.footer-copy a {
						float:left;}
						.footer-copy p {
							float:right;
							font-size:12px;
							color:#848484;}
							.footer-copy p span {
								color:rgba(255,255,255,1.00);}
			
					
@media only screen and (min-width:769px) and (max-width:800px) {
	.services {
		width:50%;}
	.advertising-main h2 {
		text-align:center;
		width:100%;
		float:none;
		margin-bottom:20px;}
	.advertising-main a {
		float:none;
		display:inline;}	
}

@media only screen and (min-width:601px) and (max-width:768px) {
	header {
		padding:30px 30px 20px 0;
		overflow:hidden;
		position:relative;}
		
		.logo {
			float:none;
			display:block;
			margin:10px auto 0;}
			header h1 {
				float:none;
				font:15px "Myriad Pro";
				color:#939393;
				margin:15px 0 0 0;
				text-align:center;
				}
			header p {
				float:none;
				overflow:hidden;
				position:absolute;
				top:20px;
				right:30px;}

	
	.services {
		width:50%;}
		.advertising-main h2 {
			text-align:center;
			width:100%;
			float:none;
			margin-bottom:20px;
		}
		.advertising-main a {
			float:none;
			display:inline;
		}	
		
		
	.comment-main {
		float:none;
		width:100%;
		margin-bottom:20px;
		overflow:hidden;
		}
	.news-main {
		float:none;
		width:100%;
		overflow:hidden;
		margin-bottom:20px;
	}
		.news {
			width:48%;
			float:left;
			margin:0 1% 1% 0;}
}
